@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


img{
  color: blue;
  font-style: italic;
  vertical-align: center;
  cursor: pointer;
  
}

Image {
  
}